
# Central Thanos - Reciever

  thanos_receiver:
    container_name: "{{ install_name }}_thanos_receive"

    image:  quay.io/thanos/thanos:v0.35.0

    # TODO move cert local?
    user: 0:0

    volumes:
      # config files
      - "{{ base_install_dir }}/thanos/config/:/etc/thanos/"
      # Provide dir for receive data.
      - "{{ base_data_dir }}/receive:/receive"
      # Map certs on head node.
      - "{{ thanos_receive_cert }}:/etc/thanos_certs/cert:ro"
      - "{{ thanos_receive_key }}:/etc/thanos_certs/key:ro"

    command:
      - 'receive'
      - '--tsdb.path=/receive'
      - '--grpc-address=0.0.0.0:10907'

      - '--grpc-server-tls-cert=/etc/thanos_certs/cert' 
      - '--grpc-server-tls-key=/etc/thanos_certs/key' 

      - '--http-address=0.0.0.0:10909'
      - '--objstore.config-file=/etc/thanos/object_store_config.yml'
      
      - '--remote-write.address=0.0.0.0:10908'
       
      - '--label=receive="{{thanos_receive_label}}"'


       # Optional debuging
      - '--log.level=info'  # debug, info
      - '--log.format=json' # logfmt logfmt or json                          
      
# Ports are not exposed since no outside process will be accessing this thanos receiver.
#    ports:

    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always